
html { 
 
  background: url('https://i.gifer.com/13xO.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logoSite{
  margin-left: 50px;
  height: 10px;
  width: 30px;
  display: block;
  display: inline-flex;
  
  
}
svg {
  height: 30px;
  cursor: pointer;
}
.slideshow{
  text-align: center;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.text2 {
  position: absolute;
  top: 37%; 
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 12em;
  font-weight: 700;
  color: #fffeff;
  text-shadow: 1px 1px 1px #0002a8,
  1px 2px 1px #0002a8,
  1px 3px 1px #0002a8,
  1px 4px 1px #0f0800,
  1px 5px 1px #0f0800,
  1px 6px 1px #0f0800,
  1px 7px 1px #0f0800,
  1px 8px 1px #00003a,
  1px 9px 1px #00003a,
  1px 10px 1px #00003a,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}


.text {
  position: absolute;
  top: 17%; 
  right: 50%;
  transform: translate(50%,-50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 12em;
  font-weight: 700;
  color: #fffeff;
  text-shadow: 1px 1px 1px #0002a8,
  1px 2px 1px #0002a8,
  1px 3px 1px #0002a8,
  1px 4px 1px #0f0800,
  1px 5px 1px #0f0800,
  1px 6px 1px #0f0800,
  1px 7px 1px #0f0800,
  1px 8px 1px #00003a,
  1px 9px 1px #00003a,
  1px 10px 1px #00003a,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}


.content {
  display: flex;
  align-content: center;
  justify-content: center;
}



.text_shadows {
  font-size:1.3cm;
  text-align: center;
  margin: 0;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
